<section id="terminal" ref="terminal" class="row justify-content-center pt-60 pb-60">
  <div class="col-lg-10 col-md-10 col-sm-10 pl-30 pr-30">
    <div class="section-title text-center">
      <h2 class="title">
        <span class="directory">➜</span>
        {{" "}}
        <span class="directory">~</span> love
        <span class="text-info">Linux</span>
        {{" "}}
        <i class="lni-heart-filled text-danger"></i>
        <i class="lni-heart-filled text-danger"></i>
        <i class="lni-heart-filled text-danger"></i>
      </h2>
    </div>
    <!-- section title -->
    <terminal v-bind:commands="COMMANDS" height="400px" />
  </div>
</section>